footer{
    height: 90px;
    background-color: #002347;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .footerDiv{
        text-align: center;
        color: white;

    }
}